{% extends "layout.html" %}
{% block content %}
<div class="whole">
    <form method="POST" action="">
      <!-- Cross Site Request Foregery Token -->
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Register</legend>
       <div class="divide">
         <div class="part1">
            <div class="bg1">
                {{ form.title.label(class="form-control-label") }} {{
                form.title(class="form-control form-control-lg") }}
              </div>
              <div class="bg1">
                {{ form.isbn.label(class="form-control-label") }} {{
                form.isbn(class="form-control form-control-lg") }}
              </div>
              <div class="bg1">
                {{ form.shoping.label(class="form-control-label") }} {{
                form.shoping(class="form-control form-control-lg") }}
              </div>
         </div>
         <div class="part2">
            <div class="bg1">
                {{ form.author.label(class="form-control-label") }} {{
                form.author(class="form-control form-control-lg") }}
              </div>
              <div class="bg1">
                {{ form.gener.label(class="form-control-label") }} {{
                form.gener(class="form-control form-control-lg") }}
              </div>
              <div class="bg1">
                {{ form.summary.label(class="form-control-label") }} {{
                form.summary(class="form-control form-control-lg") }}
              </div>
         </div>
       </div>
       <div class="summary">
            {{ form.summary.label(class="form-control-label") }} {{
            form.summary(class="form-control form-control-lg") }}
       </div>
      </fieldset>
      <div class="form-group mt-3">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
    <div class="border-top mt-3 pt-3">
      <small class="text-muted">Already have an account? <a class="ml-2" href="#">Login</a></small>
    </div>
  </div>
{% endblock %}